@import "../base/variables";
$badge-size: 200px;

.header {
  text-align: center;
  background-image: url(../assets/images/code-denim-compressed.png);
  background-color: $c-header-background-color;
  height: 280px;

  &-wrapper {
    padding: 1.5rem 0;
    margin: 0 auto;
    width: 220px;
    position: relative;

    &:after {
      content: "";
      background-image: url(../assets/images/badge-light-small-compressed.png);
      background-size: $badge-size $badge-size;
      display: inline-block;
      height: $badge-size;
      width: $badge-size;
    }
  }

  &-content {
    position: absolute;
    top: 60px;
  }

  &-title {
    font-weight: 900;
    font-family: $ff-heading;
    text-transform: uppercase;
    color: $c-white;
    font-size: 3rem;
  }

  &-description {
    margin: 0;
    font-weight: 300;
    color: $c-dark;
    font-size: 1rem;
    &:after {
      content: "*";
      display: block;
      font-size: 2rem;
      color: $c-white;
    }
  }
}

@media (max-width: 1366px) {
  .header {
    display: none;
  }
}
