.masonry {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;

  &-col {
    display: grid;
    grid-gap: 1rem;
  }
}

.masonry {
  &-columns {
    display: flex;
    flex-wrap: wrap;
  }

  &-item {
    flex-basis: 100%;
    .image-link-wrapper {
      padding: 0.5rem;
    }
  }
}

@media (min-width: 768px) {
  .masonry-item {
    flex-basis: 50%;
  }
}

@media (min-width: 1200px) {
  .masonry-item {
    flex-basis: 33%;
  }
}
